@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@200&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  padding: 20px;
  color: #333;
  font-family: 'Raleway', sans-serif;
}

/* Login page styles */
.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"],
  .login-container input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .login-container input[type="submit"]:hover {
    background-color: #45a049;
  }
  

  button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #0B666A !important;
    color: white;
    cursor: pointer;
  }