<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ongoing chats</title>
</head>
<body>
    
    <div class="navbar">
        <div class="logo">Staff Ease Admin Dashboard</div>
        <div class="nav-buttons">
          <button onclick="location.href='/'">Task Manager</button>
          <button onclick="location.href='/ongoing-chats'">Ongoing Chats</button>
        </div>
      </div>


      <div style="text-align: center;">
        <h1 style="text-align: center; font-weight: bold; padding: 3rem 0 0 0; text-shadow: 2px 2px grey;">Ongoing Chats</h1>
      </div>

      


</body>
</html>