<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST" class="login-container">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <p>Dont have an account?</p>
            <button onclick="location.href='/register'" style="background-color: yellow;">Register</button>
        </form>
        
    </div>
</body>
</html>
